@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sedgwick+Ave+Display&display=swap');

body {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Sedgwick Ave Display', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.fridge-list {
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fridge-item {
  border-radius: 10px;
  /* border: solid darkgrey 0.5em; */
  margin: 2em;
  box-shadow: 0px 8px black;
  width: 20em;
  padding: 2em;
  background-color: lightgrey;
}
